<div class="grid_12">
  <div id="path">
      <h3 class="root"><%= link_to("me", url(:dashboard, :user => session.user)) %></h3>
      /
      <% if @folder.parent %>
        <% for parent in @folder.ancestors[1..-1]  %>
          <%= link_to(parent.name, "/" + session.user.slug + "/tree" + parent.full_path) %>
          /
        <% end %>
        <%= @folder.name %>
      <% end %>
  </div>
  <% if !@folder.children.blank? %>
    <ul>
    <% for subfolder in @folder.children %>
      <li><%= link_to(subfolder.name, "/" + session.user.slug + "/tree" + subfolder.full_path) %></li>
    <% end %>
    </ul>
  <% end %>
  