@import url("reset.css");
@import url("text.css");
@import url("960.css");

#header {
    margin-top: 20px;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    padding-left: 5px;
    background: #D5D5D5;
    color: #555;
}

#header h1 {
    font-size: 3em;
    letter-spacing: -0.1em;
}

#content {
    background: #fff;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding-left: 5px;
}

body {
    background: #eee;
}

h3 {
    color: #666;
    font-weight: normal;
    border-bottom: 1px solid #e5e5e5;
    margin-right: 5px;
    margin-bottom: 5px;
}

a {
    font-weight: bold;
    color: #6DBCED;
    text-decoration: none;
}

a:hover {
    color: #555;
}

form#login label {
    display: block;
    font-weight: bold;
}

form#login input {
    font-size: 1.5em;
    border: 1px solid #c5c5c5;
    color: #555;
}

form#login input[type=submit] {
    background-color: #d5d5d5;
}

ul.file_list {
    list-style: none;
}

ul.file_list li {
    padding: 5px;
    margin: 5px;
    background: #f0f0f0;
    border: solid 1px #e5e5e5;
}

ul.file_list li a {
    color: black;
}

ul.file_list li a:hover {
    background: #FEFCA9;
}

ul.set_list {
    list-style: none;
}

ul.set_list li {
    padding: 5px;
    margin: 5px;
    background: #f0f0f0;
    border: solid 1px #e5e5e5;
}

ul.set_list li a {
    color: black;
}

ul.set_list li a:hover {
    background: #FEFCA9;
}

#files {
    list-style: none;
}

#files li {
    padding: 5px;
    margin: 5px;
    background: #f0f0f0;
    border: solid 1px #e5e5e5;
}

#files li .filename {
    font-weight: bold;
}

#files li .status {
    margin-left: 25px;
    font-style: italic;
}

#shares {
    width: 250px;
}

form {
    padding: 10px 0;
}

form ul {
    list-style: none;
}

form ul li {
    margin-left: 5px;
}

.hidden {
    display: none;
}

#notice_box {
    background: rgb(255, 255, 153); /*#FDFDCC*/
    border: 1px solid #F6D163;
    padding: 5px 10px;
    margin: 5px 0;
    color: #E28742;
    font-weight: bold;
}

#notice_box a {
    float: right;
    margin-right: 5px;
    color: #8C5329;
}

a.thumbnail {
    display: block;
    margin: auto 0;
}

a.thumbnail img {
    padding-left: 30px;
}