.grid_6.alpha
  %h3 Files
  = link_to "share a new file", resource(@user, @user.default_file_set, :shared_files, :new)
  - unless @user.default_file_set.shared_files.blank?
    %ul.file_list
      - for item in @user.default_file_set.shared_files
        %li= link_to item.filename, resource(@user, @user.default_file_set, item)
  - else
    No files shared yet
    
.grid_6.omega
  %h3 Sets
  - unless (@user.file_sets - [@user.default_file_set]).blank?
    %ul
      - for item in @user.file_sets - [@user.default_file_set]
        %li= link_to item.name, resource(@user, item)
  - else
    No sets yet