.grid_12
  %h3 Add one or more files
  #files
  %button#upload_button
    Browse
  #share
    %h3 Share them with others
    %p Enter a list of e-mails, or take them from the list
    %form#complete_upload{:method => "POST", :action => resource(@user, @file_set, :shared_files)}
      %input#shared_files{:type => "hidden", :name => "shared_files", :style => "display: none"}
      %textarea#shares{:name => "shares"}
      %ul#known_friends
        - for friend in @user.friends
          %li
            %a= friend.email
      .clear
      - if @file_set.default?
        %ul#set_options.hidden
          %li
            %label
              %input{:type => "radio", :name => "set_action", :value => "files", :checked => true}
              Add them as individual files
          - if !(@user.file_sets - [@user.default_file_set]).blank?
            %li
              %label
                %input{:type => "radio", :name => "set_action", :value => "existing_set"}
                Add them to an existing set
              %select#file_set.hidden{:name => 'file_set'}
                - for fs in (@user.file_sets - [@user.default_file_set])
                  %option{ :value => fs.id }= fs.name
          %li
            %label
              %input{:type => "radio", :name => "set_action", :value => "new_set"}
              Add them to a new set
              %input#set_name.hidden{:type => "text", :name => "set_name"}
      %input{:type => "submit", :value => "Done"}

:javascript
  var swfu;

  $(document).ready(function() {
    var settings = {
      flash_url : "/flash/swfupload.swf",
      upload_url: "/upload?_partage_session_id=#{cookies[:_partage_session_id]}",  // Relative to the SWF file
      file_types : "*.*",
      file_types_description : "All Files",
      file_upload_limit : 100,
      post_params : {
          "file_set" : #{@file_set.id},
        },

      // Button settings
      button_width: "75",
      button_height: "35",
      button_placeholder_id: "upload_button",
      button_text: '<span class="browse">Browse</span>',
      button_text_style: ".browse { font-family:Helvetica; font-size: 14; font-weight: bold; }",
      button_text_left_padding: 12,
      button_text_top_padding: 3,
      
      file_dialog_complete_handler : Upload.fileDialogComplete,
      file_queued_handler: Upload.fileQueued,
      upload_start_handler : Upload.uploadStart,
      upload_progress_handler : Upload.uploadProgress,
      upload_error_handler : Upload.uploadError,
      upload_success_handler : Upload.uploadSuccess,
    };

    swfu = new SWFUpload(settings);
    
    // change the set action
    $('input[name=set_action]').change(function() {
      $('#file_set').addClass('hidden')
      $('#set_name').addClass('hidden')
      if($('input[name=set_action][value=existing_set]:checked').length > 0) {
        $('#file_set').removeClass('hidden')
      }
      if($('input[name=set_action][value=new_set]:checked').length > 0) {
        $('#set_name').removeClass('hidden')
      }
    })
    
    // form submit
    $('#complete_upload').submit(function() {
      ids = $('#files > div').map(function() { return Upload.files[$(this).attr('id')].id }).get().join(",")
      $('#complete_upload #shared_files').val(ids)
      
      return true
    })})